<table>
  <thead>
    <tr>
      <th width="200"><%= summary.retailer.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(summary.price) %></td>
    </tr>
    <tr>
      <td><%= summary.contract.name %></td>
    </tr>
    <tr>
      <td><%= summary.gift_card %></td>
    </tr>
    <tr>
      <td>Link: </b>
          <%= link_to summary.retailer.website, :target => "_blank" do %>
               website
          <% end %>  
      </td>
    </tr>
  </tbody>
</table>
