	<div class="container">
		<div class="item">
			<ul> <b> Model: </b> 
					<%= link_to (summary.device.name + " " + summary.device.model), summary_path(summary) %>
				<br> <b> Price: </b> <%= summary.price %> 
				<br> <b> Carrier: </b> <%= summary.contract.name %>	
				<br> <b> Retailer: </b> <%= summary.retailer.name %> 
				<br> <b> Link: </b> <%= summary.retailer.website %> 
			</ul>	
		</div>	
	</div>

