<!-- <div class="small-3 columns">
<ul class="pricing-table" data-equalizer-watch>
    <li class="price"><%= number_to_currency(summary.price) %></li>
    <li class="description"><%= summary.gift_card %></li>
    <li class="bullet-item"><%= summary.carrier %></li>
    <li class="cta-button"><a class="button round" href="<%= summary.retailer.website %>">web site</a></li>
</ul>
</div> -->

 <div class="large-3 columns">
 	<div class="panel" >
 		<h4><%= summary.retailer.name %></h4>
 	    <hr>
 		<p></p>

 		<h6><small><%= summary.gift_card %></small></h6>

	    <h6 class="subheader"><%= number_to_currency(summary.price) %></h6>
	
	</div>
 </div>
