	<div class="container">
		<table>
			<tr> 
				<td> Model: 
					<%= link_to (summary.device.name + " " + summary.device.model), summary_path(summary) %> </td>
			</tr>
			<tr>	
				<td> <b> Price: </b> </td> 
				<td> <%= number_to_currency(summary.price) %> </td>
			</tr>	
			<tr>
				<td> <b> Carrier: </b> </td> 
				<td> <%= summary.contract.name %> </td> 
			</tr>	
			<tr>
				<td> <b> Retailer: </b> </td>
				<td> <%= summary.retailer.name %> </td> 
			</tr>
			<tr>
				<td> <b> Link: </b> <%= summary.retailer.website %> </td>
			</tr>
		</table>		
		
	</div>

