<div class="small-3 columns">

<ul class="pricing-table">
    <li class="title"><%= summary.device.name %> <%= summary.device.model %></li>
    <li class="price"><%= number_to_currency(summary.price) %></li>
    <li class="description"><%= summary.gift_card %></li>
    <li class="bullet-item"><%= summary.carrier %></li>
    <li class="cta-button"><a class="button round" href="<%= summary.retailer.website %>">Buy Now</a></li>
</ul>
</div>
