<%= render partial: "shared/newsletter" %>
<div class="large-12 columns">
  <div class="row">
    <table id="table" class="display responsive" style="text-align:center">    
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>Carrier</td> 
          <% summaries.each do |contract, infos| %>
              <th colspan="<%= infos.length %>"><%= contract.name %></th> 
          <% end %>
        </tr>
        
        <tr>
          <td>Store</td>
          <% summaries.each do |contract, infos| %>
            <%=  render partial: 'info', locals: { summaries:  infos } %>
          <% end %>
        </tr>

        <tr>
          <td>Price</td>
          <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
             <td> $<%= i.price.to_i %> </td>
            <% end %>
          <% end %>
        </tr>

        <tr>
          <td>Gift-card</td>
            <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
             <td><%= i.gift_card %></td>
            <% end %>
          <% end %>
        </tr>
        
        <tr>
          <td></td>
          <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
             <td> <a href="<%= i.promotion_link %>"> Source</a>  </td>
            <% end %>
          <% end %>
        </tr>   
      </tbody>
    </table>
  </div>
</div>