<%#= render partial: "shared/newsletter" %>
<div class="small-12 large-12 columns">
    <div class="table_center">
    <table class="display responsive">    
      <thead>
      </thead>
      <tbody>
        <tr class="border_bottom">
          <th class="border_sides">Carrier</td> 
          <% summaries.each do |contract, infos| %>
              <td colspan="<%= infos.length %>"><div id="center"><%= contract.name %></div></td>
          <% end %>
        </tr>
        
        <tr class="border_bottom">
          <th class="border_sides">Store</th>
          <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
            <td class="center"><%= i.retailer.name %></td>
          <% end %>
          <% end %>
        </tr>

        <tr class="border_bottom">
          <th class="border_sides">Price</th>
          <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
             <td class="center"> $<%= i.price.to_i %> </td>
            <% end %>
          <% end %>
        </tr>

        <tr class="border_bottom">
          <th class="border_sides">Bonus Gift-card</th>
            <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
              <% if i.gift_card.nil?%>
                <td class="center"></td>
              <% else %> 
                <td class="center">$<%= i.gift_card%>  </td>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        
        <tr>
          <td class="border_sides"></th>
          <% summaries.each do |contract, infos| %>
            <% infos.each do |i| %>
             <td class="center"> <a href="<%= i.promotion_link %>"> Site</a>  </td>
            <% end %>
          <% end %>
        </tr>   
      </tbody>
    </table>
  </div>
</div>