<%= render partial: "shared/newsletter" %>

<table class="responsive" style="text-align:center">	

  
  <tr>
     <td>Carrier</td>
	<% summaries.each do |contract, infos| %>
		<th colspan="<%= infos.length %>"><%= contract.name %></th>	
	<% end %>
  </tr>
  <tr>
     <td>Store</t>
  	<% summaries.each do |contract, infos| %>
  	  <%=  render partial: 'info', locals: { summaries:  infos } %>
  	<% end %>
  </tr>
  
  <tr>
    <td>Price</td>
  	<% summaries.each do |contract, infos| %>
  	  <% infos.each do |i| %>
  	   <td> <%= number_to_currency(i.price) %> </td>
  	  <% end %>
  	<% end %>
  </tr>
  <tr>
    <td>Gift-card</td>
  	<% summaries.each do |contract, infos| %>
  	  <% infos.each do |i| %>
  	   <td> <small><%= i.gift_card %><small> </td>
  	  <% end %>
  	<% end %>
  </tr>
   <tr>
    <td>website</td>
  	<% summaries.each do |contract, infos| %>
  	  <% infos.each do |i| %>
  	   <td> <a href="<%= i.promotion_link %>"> Website</a>  </td>
  	  <% end %>
  	<% end %>
  </tr>
</table>