
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <%= form_tag('newsletter', method: "POST", remote: true) do %>
	          <div class="large-8 columns">
	          	<p><strong> It's easy to get you the best phone price.</strong> When you are looking for a new phone.
	            Mobile Buddy does all the work of showing you where to get the best deal. Best of all, it's free
				</p>
	            
			     <p>Select the phone the you would like to get news:</p>
			        <ul class="inline-list">
			          <% @devices.each do |dev| %>
			              <li>
			                <span>
			                  <%= h dev.name -%> <%= h dev.model -%>
			                  <%= check_box_tag 'dev_name[]', dev.name + dev.model -%> 
			                </span>
			              </li>
			          <% end %>
			        </ul>
	    
			  </div>
		      <div class="large-4 columns">
			      <%= email_field_tag 'email', nil, placeholder: 'Email address' %> 
			      <%= submit_tag("Get updates!",:class => "button postfix") %>
		      </div>
           </div>
         <% end %>
      </div>
      
    </div>
</div>
		

		

	<div class="wrapper">
		<% content_for :title ,"Mobile Buddy" %>
		<div id="hero">
			<h2> Choose Your Phone  </h2>

		<div id="devices_" class="row" ng-controller="DeviceCtrl">
			<div class="small-12 columns">
				<ul class="small-block-grid-4">
				
                    <li  ng-repeat="device in devices | orderBy:'display_name' ">
						<div class="device-block" ng-click="openModal(device)"> 
							
							<h4>
								{{device.name}} {{device.model}}
							</h4>	
							<div class="device-image">
								 <img src="{{device.image['thumb']['url']}}"> 
							</div>
							<h5> Price:  {{device.minimum_price | currency}} </h5>
							
						</div>
					</li>
				</ul>
			</div>

			<div id="myModal" class="reveal-modal" data-reveal data-equalizer>

				<div id="summaries" class="row">
					<div class="row">
						<div class="large-12 columns">
							<div class="large-2 columns"><img src="{{deviceImgUrl}}" class="th"></div>
	                        <div class="large-10 columns" style="color:white">
                              <h4 style="color:white">{{deviceName}}</h4>
	                         <p>{{deviceDescription}}</p>
	                        </div>
					   </div>
				   </div>
                   <div style="height:20px"></div>
                   <div class="row">
						<div class="large-3 columns [radius round] left" ng-repeat="summary in summaries"  data-equalizer-watch >
							<div class="panel callout radius" >
								<h5>{{summary.retailer.name}}</h5>
							    <hr>
							    <h6 class="subheader">Carrier: {{summary.contract.name}}</h6>
								<h6 style="height:100px">Gift Card: <small>{{summary.gift_card}}</small></h6>
								<hr>
						        <h4 class="subheader">{{summary.price | currency}}</h4>
						        <a href="{{summary.promotion_link}}" class="button round"> Website</a>        
						   </div>
						</div>
				    </div>
                  
				</div>

				<a class="close-reveal-modal">&#215;</a>
			</div>		
		</div>
	</div>

</div>
