<div class = 'navbar'>

<%= render partial: "shared/header" %>
       
</div>

<div class = "hero">
	<h1 class="intro-text"> <strong> It's easy to get you the best phone deal.</strong></h1>

	<!-- <div class="row" > -->
		<p class="intro-par">
			Looking for a new phone? Mobile Buddy does all the work of getting you the best deal in Canada.
		</p>
		<!-- <div class = "newsletter">
		<h2>Get alerts when your favorite devices go on sale!</h2>
		 <%= render partial: "shared/newsletter" %>

		</div> -->
	</div>
</div>	

	<div class="wrapper">
		<% content_for :title ,"Mobile Buddy" %>
		<div class="heading">
			<h2> Choose Your Phone  </h2>
		</div>

			<div class="text-lead">
				<span class="subtitle"> <p> Popular phones recommended for you. </p> </span>
			</div>
					<div id="devices" class="row">
						<div class="small-12 columns">
							<ul class="small-block-grid-4">
								<%= render @devices %>
							</ul>
						</div>

						<div id="myModal" class="reveal-modal" data-reveal>

							<div id="summaries" class="row">

							</div>

							<a class="close-reveal-modal">&#215;</a>
						</div>		
					</div>

	</div>
	
	<div class="wrapper-about">
		<div class="heading">
			<h2> About Us </h2>
		</div>

		<div class="text-lead">
				<span class="subtitle"> <p> Our Story  </p> </span>
		</div>

		<div class="about-body">
			<p>
				Mobile Buddy was created because we believe that buying a cell phone in Canada is too complicated. We're here to simplify things for you.
			</p>
		<!-- 	<p>
				Did you know, that you can get the same phone, on the same contract, but at a different price? The price changes regularly, and depends on the store.
			</p> -->
			<p>
				We're still in Beta mode, and looking to add more features! Tell us what you need help with when making a phone purchase. Is it an honest opinion on what phone or plan is best for you? Or maybe it's how to avoid wasting time negotiating with your carrier and not getting anywhere. Let us know.
			</p>
			<p>
				You can reach us by email at <span class="contact-email"> <a href="mailto:support@mobilebuddy.ca">contact@mobilebuddy.ca</span>!</a>
			</p>
		</div>

    

<div class="wrapper-newsletter">
    <div class="newsletter-copy">
      <h5> Be the first to know when there's a great phone deal.</h5>
    </div>

      
	     <div class="small-4 columns">
	        <%= form_tag('newsletter', method: "POST", remote: true) do %>
	        <%= email_field_tag 'email', nil, placeholder: 'Email address' %>
	     </div>
	  
	  
	  
			<div class="newsletter-button">
				<div class="small-4 columns">
						<%= submit_tag("Get Updates",:class => "button radius") %>
				</div>
			</div>
      	<% end %>
	


    <footer class="row">
            <div class="large-12 columns">
	            <hr>
	            <div class="row">
	              <div class="large-6 columns">
	             	<div class="copyright">
	              	<p>© Mobile Buddy</p>
	              	</div>
	              </div>
	            </div>
            </div>
        </footer>
    </div>