<h1>Device</h1>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Model:</b>
  <%= @device.model %>
</p>

<p>
  <b>Minimum Price:</b>
  <%= @device.minimum_price %>
</p>

<p>
  <b>Description:</b>
  <%= @device.description %>
</p>

<div class="image">
	<%= image_tag @device.image_url(:thumb).to_s %>
</div>
